<template>
  <v-container class="pa-0">
    <v-container>
      <template>
        <v-layout row>
          <v-flex>
            <v-card>
              <v-toolbar class="primary primaryText--text">
              <v-toolbar-title> 联系我们 </v-toolbar-title>
              </v-toolbar>
              <v-container fluid>
                <v-card-text>
                  这一部分需要一个模型管理平台文案支持阿里斯顿开饭啦可是对方拉开是江东父老卡交水电费了；看见阿萨德了；跨省；dlj
                  <br>
                  <br>
                  <hr>
                  <br>
                  模型管理平台文案支持了阿克苏江东父老看见啊塑料袋封口机请问类u哦怕是的破七五儿哦屁u阿斯顿发
                  <br>
                  <br>
                  <hr>
                  <br>
                  模型管理平台文案支持阿克苏江东父老看见啊塑料袋封口机请问类u哦怕是的破七五儿哦屁u阿斯顿发
                </v-card-text>
              </v-container>
            </v-card>
          </v-flex>
        </v-layout>
      </template>
    </v-container>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    value: "",
    num1: 0,
    num2: 0
  })

}
</script>

<style>

</style>